<div class="container padding-header">
    <p class="mt-5 mb-5">Home / Contact</p>
    <div class="row">
        <div class="col-md-3 ps-2 pe-2 pt-3 pb-4 border-card me-4">
            <div class="border-underline ms-2 me-2 mt-2">
                <div class="d-flex ps-2 mb-3">
                    <i class="bi bi-telephone-fill iconContact me-1 p-2 d-flex"></i>
                    <h4 class="card-Contact">Call To Us</h4>
                </div>
                <div class="pe-3 ps-3 ">
                    <p>We are available 24/7, 7 days a week.</p>
                    <p>Phone: +8801611112222</p>
                </div>

            </div>
            <div class="ms-2 me-2 mt-3">
                <div class="d-flex ps-2 mb-3">
                    <i class="bi bi-envelope-at-fill iconContact me-2 p-2 d-flex"></i>
                    <h4 class="card-Contact">Write To US</h4>
                </div>
                <div class="pe-3 ps-3">
                    <p>Fill out our form and we will contact you within 24 hours.</p>
                    <p>Emails: customer@exclusive.com</p>
                    <p>Emails: support@exclusive.com</p>
                </div>
            </div>
        </div>

        <form class="col-md-8 border-card p-4">
            <div class="d-flex justify-content-around mt-3">
                <input class="p-2 ps-4 input-short" id="name" type="text" placeholder="Your Name *" required>
                <input class="p-2 ps-4 input-short" id="email" type="text" placeholder="Your Email *" required>
                <input class="p-2 ps-4 input-short" id="phone" type="text" placeholder="Your Phone *" required>
            </div>
            <div class="d-flex justify-content-around mt-4 mb-3">
                <textarea class="textarea-border" name="" cols="90" rows="7" placeholder="Your Message"></textarea>
            </div>
            <div class="d-flex justify-content-end me-4 mt-4">
                <button class="p-3 ps-5 pe-5 me-1 btn-contact">Send Massage</button>
            </div>
        </form>
    </div>
</div>