<footer class="footer bg-black text-white">
    <div class="container">
        <div class="row pt-5 pb-4">
            <!-- Col Exclusive -->
            <div class="col-md-2 pt-3">
                <h4>Exclusive</h4>
                <h5>Subcribe</h5>
                <p>Get 10% off your first order</p>
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" name="search" class="form-control input-sendmail"
                            placeholder="Send your email">
                        <button type="submit" class="btn btn-primary btn-sendmail"><i
                                class="bi bi-arrow-return-right"></i></button>
                    </div>
                </div>
            </div>

            <!-- Col Support -->
            <div class="col-md-2 me-5 ms-5 pt-3">
                <h5>Support</h5>
                <p>111 Bijoy sarani, Dhaka,<br>
                    DH 1515, Bangladesh.
                </p>
                <p>exclusive@gmail.com</p>
                <p>+88015-88888-9999</p>
            </div>

            <!-- Col Account -->
            <div class="col-md-2 pt-3">
                <h5>Account</h5>
                <p>My Account</p>
                <p>Login / Register</p>
                <p>Cart</p>
                <p>Wishlist</p>
                <p>Shop</p>
            </div>

            <!-- Col Quick Link -->
            <div class="col-md-2 pt-3">
                <h5>Quick Link</h5>
                <p>Privacy Policy</p>
                <p>Terms Of Use</p>
                <p>FAQ</p>
                <p>Contact</p>
            </div>

            <!-- Col Download App -->
            <div class="col-md-3 pt-3">
                <h5>Download App</h5>

                <p class="fontsize-subApp">Save $3 with App New User Only</p>
                <div class="d-flex">
                    <div class="mb-3">
                        <img class="img-qr" src="../../../assets/image/about/QR_Code.png" alt="qrCode">
                    </div>
                    <div>
                        <img class="img-app" src="../../../assets/image/about/GooglePlay.png" alt="ChPlay">
                        <img class="img-app" src="../../../assets/image/about/AppStore.png" alt="AppStore">
                    </div>
                </div>

                <div class="d-flex">
                    <div class="me-4"><a target="_blank" href="https://www.facebook.com">
                            <i class="bi bi-facebook icon-social"></i></a>
                    </div>
                    <div class="me-4"><a target="_blank" href="https://twitter.com">
                            <i class="bi bi-twitter-x icon-social"></i></a>
                    </div>
                    <div class="me-4"><a target="_blank" href="https://www.instagram.com">
                            <i class="bi bi-instagram icon-social"></i></a>
                    </div>
                    <div class="me-4"><a target="_blank" href="https://www.linkedin.com">
                            <i class="bi bi-linkedin icon-social"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-2">
        <label class="d-flex justify-content-center pb-3 footer-copyright ">
            &copy; Copyright Rimel 2022. All right reserved
        </label>
    </div>

</footer>