<div class="container-fluid">
    <div class="row margin-top80">
        <div class="sidebar border-sidebar">
            <ul class="nav flex-column ">

                <li class="nav-item">
                    <a class="nav-link" href="#">Bundle</a>
                    <div class="submenu">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item "><a class="nav-link" href="#">Feet + Grip tape</a></li>
                            <li class="nav-item "><a class="nav-link" href="#">Mouse Pad</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Mouse</a>
                    <div class="submenu">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item "><a class="nav-link" href="#">Sora</a></li>
                            <li class="nav-item "><a class="nav-link" href="#">Lamzu</a></li>
                            <li class="nav-item "><a class="nav-link" href="#">Logitech</a></li>
                            <li class="nav-item "><a class="nav-link" href="#">Razer</a></li>
                        </ul>
                    </div>
                </li>



                <li class="nav-item"><a class="nav-link" href="#">Keyboard</a>
                    <div class="submenu">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item"><a class="nav-link" href="#">Wohee</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">DrunkDeer</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Yuki Aim</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Logitech</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="#">Headphone</a>
                    <div class="submenu">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item"><a class="nav-link" href="#">Razer</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Hyper X</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Steelseries</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Logitech</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="#">PC</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Console</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Desktop setup</a></li>
            </ul>
        </div>
    </div>
</div>