<div class="wrapper">
  <div class="main-content">
    <app-saleoff></app-saleoff>
    <app-header></app-header>
    <div class="container" *ngIf="isHomePage()">
      <app-main-content></app-main-content>
      <app-flash-sales></app-flash-sales>
      <app-categories></app-categories>
      <app-best-selling></app-best-selling>
      <app-our-products></app-our-products>
      <app-featured></app-featured>
      <app-policy></app-policy>
    </div>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>