<div class="bg-black fixed-top height-sale-off">
    <div class="container  d-flex flex-row justify-content-between align-items-center h-100">
        <div class="col-md-11 text-white text-center">
            <p class="m-0">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
                <a class="text-white" href="">Shop Now</a>
            </p>
        </div>

        <div class="col-md-1 text-white text-center">
            <p class="m-0">English</p>
        </div>
    </div>
</div>