.margin-top-2rem {
  margin-top: 2rem;
}

h2 {
  margin-bottom: 0;
}

.title-featured {
  color: #db4444;
  border-left: 1rem solid #db4444;

  h5 {
    margin-left: 0.8rem;
  }
}

.margin-right2rem {
  margin-right: 2rem;
}

.margin-bottom2rem {
  margin-bottom: 2rem;
}
