h2 {
  margin-bottom: 0;
  line-height: 5rem;
}

.title-flashsale {
  color: #db4444;
  border-left: 1rem solid #db4444;

  h5 {
    margin-left: 0.8rem;
  }
}

#swiper-flashsale {
  padding: 0;
}

.btn-allProduct {
  button {
    background-color: #db4444;
    border: none;
    color: white;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5px;
  }
}

.btn-navigation {
  display: flex;

  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 21px;
    --swiper-navigation-top-offset: 40%;
    --swiper-navigation-color: black;
    padding: 1.2rem;
    font-weight: 700;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #f5f5f5;
    border: none;
  }

  .swiper-button-next {
    margin-left: 1rem;
  }
}
