<div class="d-flex justify-content-center services mb-5 pb-5 pt-4 me-5">
    <div class="d-flex flex-column align-items-center me-5 ms-5">
        <img src="../../../assets/image/about/Services.png" alt="" class="img-services mb-4">
        <p class="text-services">FREE AND FAST DELIVERY</p>
        <p>Free delivery for all orders over $140</p>
    </div>
    <div class="d-flex flex-column align-items-center me-5 ms-5">
        <img src="../../../assets/image/about/Services (1).png" alt="" class="img-services mb-4">
        <p class="text-services">24/7 CUSTOMER SERVICE
        </p>
        <p>Friendly 24/7 customer support</p>
    </div>
    <div class="d-flex flex-column align-items-center me-5 ms-5">
        <img src="../../../assets/image/about/Services (2).png" alt="" class="img-services mb-4">
        <p class="text-services">MONEY BACK GUARANTEE
        </p>
        <p> We return money within 30 days</p>
    </div>
</div>